/*google font*/
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,800,900&display=swap');

:root{
    --box-shadow: 0 8px 22px rgba(0,0,0,0.1);
    --primary:#e1ee6f;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins',sans-serif;
    scroll-behavior: smooth;
}
h1,h2,h3,h4,h5,h6,
.display-4 {
    color: var(--dark);
    font-weight: 700;
}

/*navbar*/
.bg-light{
    background-color: transparent!important;
}
.navbar{
	position: fixed;
	top: 0;
	z-index: 99999;
	/*padding:25px 0;*/  
}
.navbar-nav a{
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 500;
    color: #fff;
}
.navbar-light .navbar-brand{
    color: #fff;
    font-size: 25px;
    text-transform: capitalize;
    font-weight: bold;
    letter-spacing: 2px ;
}
.navbar-brand img{
    width: 100px; 
}
.navbar-toggler{
    background-color: rgba(204, 226, 5, 0.575);
}
#contact{
    background-color: #f8f9fa!important;
    padding-bottom: 90px;
}
.sticky-top.scrolled{
    background-color:rgba(0,0,0,0.3)!important;
    box-shadow: none!important;
    transition: background-color 1000ms linear;
}
.container .collapse .navbar-nav a:hover{
    color: #000;
    background-color:rgba(204, 226, 5, 0.575);
}
.navbar-nav li.active,
.navbar-nav li:hover{
	color: rgba(0, 0, 0, 0.815);
}
.nav-item a.active {
    background:rgba(204, 226, 5, 0.575);
}
.navbar-nav li a{
	color: rgb(255, 255, 255);
	font-size: 1em;
	font-weight: 500;
    
}
.navbar-nav li.active a,
.navbar-nav li:hover a{
	color: rgb(255, 255, 255);
    
}

/*slider*/
#carouselExampleIndicators{
	position: relative;
	height: 100vh;
	width: 100%;
}
#carouselExampleIndicators .carousel-inner{
	position: relative;
	height: 100%;
	width: 100%;
	background: #000;
}
#carouselExampleIndicators .carousel-inner:before{
	position: absolute;
	content: '';
	background: rgba(0, 0, 0, 0.45);
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
}
#carouselExampleIndicators .carousel-inner .carousel-item{
	position: relative;
	height: 100%;
	width:100%;
	background: url('./img/photo10.jpg');
	background-size: 100% 100%;
	background-position: center;
	background-attachment: fixed;
}
#carouselExampleIndicators .carousel-inner .carousel-item:nth-child(2){
	background: url('./img/photo4.jpg');
	background-size: 100% 100%;
	background-position: center;
	background-attachment: fixed;
}
#carouselExampleIndicators .carousel-inner .carousel-item:nth-child(3){
	background: url('./img/photo14.jpg');
	background-size: 100% 100%;
	background-position: center;
	background-attachment: fixed;
}
#carouselExampleIndicators .carousel-inner .carousel-item:nth-child(4){
	background: url('./img/photo15.jpg');
	background-size: 100% 100%;
	background-position: center;
	background-attachment: fixed;
}
#carouselExampleIndicators .carousel-inner .carousel-item:nth-child(5){
	background: url('./img/photo8.jpg');
	background-size: 100% 100%;
	background-position: center;
	background-attachment: fixed;
}
#carouselExampleIndicators .carousel-inner .carousel-item .info{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	height: auto;
	width: 100%;
	z-index: 1;
	text-align: center;
}
#carouselExampleIndicators .carousel-inner .carousel-item h1{
	height: auto;
	color: #fff;
	width: 100%;
	z-index: 1;
	text-align: center;
	font-size: 5.5em;
	font-weight: 750;
}
#carouselExampleIndicators .carousel-inner .carousel-item p{
	height: auto;
	color: #ccc;
	width: 100%;
	z-index: 1;
	text-align: center;
	font-size: 1.2em;
	font-weight: 500;
}

/*--- about us ----*/
.about{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 120px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    
    display: flex;
    justify-content: space-between;
}
.about-col{
    flex-basis: 31%;
    background: rgba(204, 226, 5, 0.575);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.1s ease-in-out;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.about-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
@media(max-width : 700px){
    .about .row{
        flex-direction: column;
    }
}

/*----- Services ----*/


.card-effect {
    box-shadow: var(--box-shadow);
    background-color: var(--white);
    padding: 25px;
    transition: all 0.35s ease;

}

.card-effect:hover {
    box-shadow: none;
    transform: translateY(5px);
}

.iconbox {
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e1ee6f;
    color: var(--white);
    font-size: 32px;
    border-radius: 100px;
    flex: none;
}


.service {
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.service::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: -100%;
    left: 0;
    background-color: var(--primary);
    z-index: -1;
    opacity: 0;
    transition: all 0.4s ease;
}


.service:hover .iconbox {
    background-color: white;
    color: black;
}

.service:hover h5,
.service:hover p {
    color: var(--white);;
}

.service:hover::after {
    opacity: 1;
    top: 0;
}
#blog img {
    width: 100%;
}
#article img{
    width: 100%;
    border-radius: 10px;
}
.facilities {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 60px;
}
.facilities-col{
   flex-basis: 31%;
   border-radius: 10px;
   margin-bottom: 5%;
   text-align: left; 
}
section {
    padding-bottom: 40px; position: relative; z-index: 2; background: #fff;
}
#article p{
    padding: 0;
    padding-bottom: 40px;
}
#article h3{
    margin-top: 16px;
margin-bottom: 15px;
text-align: left;
}

/*------ testimonials -----*/

.testimonials{
    width: 80%;
    margin: auto;
    padding-top: 10px;
    text-align: center;
}

.testimonial-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 25px;
    cursor: pointer;
    display: flex;
}
.testimonial-col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}
.testimonial-col p{
    padding: 0; 
}
.testimonial-col h3{
    margin-top: 15px;
    text-align: left;
}
.testimonial-col .fa-solid{
    color: #f44336;
}
@media(max-width: 700px){
    .testimonial-col img{ 
        margin-left: 0px;
        margin-right: 15px;
    }
}
/*contact*/
#contact{
    margin-top: 80px;
}
.text-primary{
    color: rgba(204, 226, 5, 0.575)!important;
}

.btn{
    background-color: #e1ee6f;
}
.btn:hover{
    background-color: #e1ee6f;
    transform: scale(1.1);
}



form input.form-control {
    height: 56px;
}

form .form-control {
    border: transparent;
    border-radius: 0;
    background-color: rgba(0,0,0,0.02);
}

/*footer*/
.footer-top {
    
    padding-top: 90px;
    padding-bottom: 90px;
    background-color:#e1ee6f
}
.logo{
    width: 160px; 
    
}
.footer-top a {
    color: #6c757d;
}

.footer-top a:hover {
    color: white;
}

.footer-bottom {
    background-color: rgba(132, 145, 10, 0.842);
}
.social-icons {
    display: flex;
    justify-content: center;
    font-size: 30px;
}
.bx{
color:rgba(54, 53, 2, 0.767)
}


.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.icons .fa-brands{
    color:#f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}
.fa-heart{
    color: #f44336;
}
